.subreddits {
  background-color: var(--foreground-color);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  padding: 1rem 1rem;
  border-radius: 0.25rem;
}
h2 {
  font-weight: 600;
  color: var(--primary-font-color);
}
.subreddit-single {
  padding: 0rem 1rem 0;
}
