@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;900&display=swap");
:root {
  --primary-font-color: #444;
  --secondary-font-color: #717171;
  --background-color: #fcfcfc;
  --foreground-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.app {
  background-color: var(--background-color);
}
.components {
  margin: 2rem 1rem;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.MainPost {
  width: 65%;
  flex-grow: 1;
}

.Subreddits {
  width: 25%;
  flex-grow: 0.5;
}

@media screen and (max-width: 760px) {
  .components {
    flex-wrap: wrap;
  }
  .Subreddits {
    width: 100%;
  }
  .MainPost {
    width: 100%;
  }
}
